* {
  margin: 5;
  padding: 5;
  text-align: center;
}
body {
  height: 100vh;
  overflow: hidden;
  font-size: 1.5rem;
  color: rgb(31, 153, 96);
}
h2 {
  color: rgb(153, 31, 106);
}
#envoi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  line-height: 50px;
  text-align: center;
  background: rgba(73, 68, 68, 0.753);
  color: white;
  text-decoration: none;
  border-radius: 10px;
}
